<section class="block">
    <header class="block__header">
        <h2>Was unser CEO/Gründer über unseren Auftrag sagt</h2>
        <p>Als Leiter dieses Unternehmens weiß ich, wie wichtig es ist, ein klares Ziel zu haben.</p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial__image">
                    <img src="images/kastriot.jfif" alt="A happy, smiling customer">
                </div>
                <blockquote class="quote">
                    <p class="quote__text">Unsere Mission ist es, qualitativ hochwertigen Traffic zu liefern und die Leads für unsere Kunden zu erhöhen.</p>
                    <footer>
                        <div class="media">
                            <div class="media__image">   
                            </div>
                            <div class="media__body">
                                <h3 class="media__title quote__author">Kastriot Tanaj</h3>
                                <p class="quote__organization">Spark Agency GmbH</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>