<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, dicta.</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature_content">
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quam veniam optio a dignissimos minima dolorem molestiae illo est vel!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture><img class="feature_image" src="images/pexels-tobias-dziuba-907607_570x363.webp" alt="SEO"></picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature_content">
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quam veniam optio a dignissimos minima dolorem molestiae illo est vel!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture><img class="feature_image" src="images/pexels-tobias-dziuba-907607_570x363.webp" alt="SEO"></picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature_content">
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quam veniam optio a dignissimos minima dolorem molestiae illo est vel!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture><img class="feature_image" src="images/pexels-tobias-dziuba-907607_570x363.webp" alt="SEO"></picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature_content">
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quam veniam optio a dignissimos minima dolorem molestiae illo est vel!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture><img class="feature_image" src="images/pexels-tobias-dziuba-907607_570x363.webp" alt="SEO"></picture>
    </article>
</section>